html {
    color: #000;
    background: #FFF;
    height: 100%;
}
body {
    font-family: Milonga,"Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 100%;
    height: 100%;
}
body,
div,
p {
    margin: 0;
    padding: 0;
}
#container {
    margin: auto 0;
    text-align: left;
    width: auto;
    height: 100%;
    height: auto;
    min-height: 100%;
}
#content { padding-bottom: 3.25em }
#div-menu {
    height: 44px;
    background: #325da8;
    background-image: -webkit-linear-gradient(#4e78c1,#325da8);
    background-image: -ms-linear-gradient(#4e78c1,#325da8);
    background-image: -moz-linear-gradient(#4e78c1,#325da8);
    background-image: -o-linear-gradient(#4e78c1,#325da8);
    background-image: linear-gradient(#4e78c1,#325da8);
    padding-left: 11%;
}
ul {
    margin: 0;
    padding: .375em 0;
}
li {
    float: left;
    font-size: .875em;
    list-style-type: none;
    margin: 0 32px 0 0;
    padding: 6px 0;
}
.menu-link {
    color: #e1e4f2;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
#lang-list-wrapper {
    width: 100%;
    clear: both;
    overflow: hidden;
    display: none;
}
#lang-list {
    overflow: hidden;
    width: 31em;
    padding-left: 11%;
}
.menu-link-lang {
    color: #4e78c1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    float: left;
}
.menu-link-lang-sel { color: #555 }
#hd {
    min-height: 4.5em;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    overflow: hidden;
    padding-left: 11%;
}
#img-logo {
    float: left;
    margin: .25em 0;
    width: 4em;
    height: 4em;
}
#div-title {
    margin: .125em 0 0 .5em;
    float: left;
}
h1,
h2 {
    text-shadow: .125em .125em .125em #ccc;
    font-weight: normal;
    color: #000;
    margin: 0;
}
h1 {
    font-size: 1.875em;
    float: left;
}
h2 {
    font-size: 1.375em;
    clear: left;
    float: left;
}
#img-virtual-tarot {
    height: 1.25em;
    width: 1.25em;
    margin: .25em 0 0 .375em;
}
#cols-container {
    clear: both;
    float: left;
    width: 100%;
    margin-right: -17em;
    padding: .5em 0;
}
#col-l {
    margin-right: 17em;
    padding-left: 10%;
}
#col-c {
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    padding-left: .5em;
    overflow: hidden;
}
#col-r {
    width: 16em;
    float: right;
    padding: .5em .5em 0 .5em;
    margin: 0 auto;
}
#ad1 {
    float: right;
    margin: 0 .5em;
}
#ft {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin: -3.25em auto 0 auto;
    line-height: 3em;
    color: #606060;
    vertical-align: middle;
    background-color: #f0f0f0;
    border-top: 1px solid #e0e0e0;
    width: 100%;
}
#ft-cen { text-align: center }
.p-inline { display: inline }
p { font-size: .875em }
.p-title {
    color: #606060;
    font-size: 1em;
}
.div-item {
    padding: .125em 0 1em 2.25em;
    margin-left: .25em;
    background-repeat: no-repeat;
    background-position: left;
}
/*
.spades { background-image: url(http://static.peteranswers.com/images/icon-spades.gif) }
.hearts { background-image: url(http://static.peteranswers.com/images/icon-hearts.gif) }
.diamonds { background-image: url(http://static.peteranswers.com/images/icon-diamonds.gif) }
.clubs { background-image: url(http://static.peteranswers.com/images/icon-clubs.gif) }
*/
.img-lang {
    background-image: url(http://static.peteranswers.com/images/language.gif);
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 28px;
}
#divPlayAreaExt {
    width: 31.5em;
    height: 12.75em;
    margin: 8.5em auto 6em auto;
    text-align: left;
    background-image: url(play-area_1.1.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #3d0003;
    overflow: hidden;
}
#divLicense { padding: 1em 1em 0 1em }
#txtLicense {
    width: 100%;
    height: 7em;
    border: 1px solid;
    border-color: #ded3c5 #baa384 #baa384 #ded3c5;
    color: #baa384;
    background: #3d0003;
    background-image: -webkit-linear-gradient(#50191c,#370003);
    background-image: -ms-linear-gradient(#50191c,#370003);
    background-image: -moz-linear-gradient(#50191c,#370003);
    background-image: -o-linear-gradient(#50191c,#370003);
    background-image: linear-gradient(#50191c,#370003);
    resize: none;
}
#petition {
    clear: both;
    padding: 1.625em 0 0 1.25em;
}
#question {
    clear: both;
    padding: .75em 0 0 1.25em;
}
.input,
.btn { font-family: Georgia,"Times New Roman",Times,serif;

 }
.lbl,
.answer { font-family: Milonga,Georgia,"Times New Roman",Times,serif }
.lbl {
    float: left;
    color: #baa384;
    font-size: 1em;
    width: 5em;
    margin-top: .25em;
}
.input {
    width: 23em;
    height: 1.5em;
    font-size: .875em;
    font-weight: bold;
    color: #3d0003;
    border: 1px solid #baa384;
    padding: 0;
    vertical-align: bottom;
}
.answer {
    height: 6em;
    width: 25.125em;
    font-size: 1em;
    font-weight: bold;
    color: #baa384;
    padding: .75em 0 0 1.25em;
}
.btn {
    float: right;
    color: #baa384;
    background: #3d0003;
    background-image: -webkit-linear-gradient(#50191c,#370003);
    background-image: -ms-linear-gradient(#50191c,#370003);
    background-image: -moz-linear-gradient(#50191c,#370003);
    background-image: -o-linear-gradient(#50191c,#370003);
    background-image: linear-gradient(#50191c,#370003);
    border: 1px solid;
    border-color: #ded3c5 #baa384 #baa384 #ded3c5;
    vertical-align: bottom;
    font-weight: bold;
    font-size: .625em;
    padding: 0;
    width: 5.6em;
    white-space: normal;
}
:hover.btn {
    border-color: #f00;
    cursor: pointer;
}
.btnLarge {
    clear: both;
    height: 4.4em;
    margin: 5em 1.8em 0 0;
}
.btnSmall {
    height: 3em;
    margin: -0.6em 1.8em 0 0;
     cursor: pointer;
}
.btnLicense {
    width: 6em;
    height: 5em;
    margin: .25em -0.5em 0 1em;
    font-size: .75em;
}
@media (max-width:1550px) { 
	#div-menu { padding-left: 2% }
	#lang-list { padding-left: 2% }
	#hd { padding-left: 2% }
	#col-l { padding-left: 0 }
	#col-c { border-left: 0 }
}
@media (max-width:1090px) { 
	#cols-container {
	    margin-right: 0;
	    padding: .25em 0;
	}
	#col-l { margin-right: 0 }
	#col-c { border-right: 0 }
	#col-r {
	    width: 728px;
	    clear: both;
	    float: none;
	    padding: 0 .5em;
	}
	#ad1 {
	    float: none;
	    margin: 0 auto .5em auto;
	    width: 728px;
	}
	#block1 {
	    width: 728px;
	    margin: 0 auto;
	}
	#divPlayAreaExt { margin: 5em auto 6em auto }
}
@media (max-width:740px) { 
	#block1 {
	    width: 100%;
	    margin: 0 .25em;
	}
	#col-r {
	    width: 100%;
	    margin: 0 .25em;
	}
	#ft { line-height: 1em }
}
@media (max-width:480px) { 
	body { font-size: 120% }
	#hd { font-size: 70% }
	#lang-list { width: 100% }
	#cols-container { padding: 2px 0 }
	#col-c { padding-left: 0 }
	#col-r { padding: 0 }
	.div-item {
	    padding: .125em 0 .75em 1.5em;
	    margin-left: 0;
	}
	#divPlayAreaExt {
	    width: 100%;
	    height: 100%;
	    min-height: 11em;
	    margin: 1em 2px .5em 2px;
	    background-size: 100% 100%;
	}
	#petition { padding: .5em 0 0 .375em }
	#question { padding: .125em 0 0 .375em }
	.lbl {
	    float: none;
	    margin-top: 0;
	}
	.input { width: 82% }
	.answer {
	    height: 5.5em;
	    width: 100%;
	    font-size: .875em;
	    font-weight: bold;
	    color: #baa384;
	    padding: .25em 0 0 .375em;
	}
	.btnSmall {
	    width: 44px;
	    height: 44px;
	    padding: 0 2px;
	    margin: 6px 6px 0 0;
	}
	.btnLarge {
	    width: 44px;
	    height: 44px;
	    margin: 2em 6px 0 0;
	    font-weight: normal;
	}
	.btnLicense {
	    width: 5em;
	    height: 4em;
	    margin: .125em -0.5em 1em 1em;
	    font-size: .75em;
	}
}